server:
  port: 8071

spring:
  application:
    name: "configserver"

  profiles:
    active: git
  # active: native

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest


  cloud:
    config:
      server:
        git:
          uri: https://github.com/MeRitik/bank-config.git
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
#        native:
#          search-locations: "file:///C:/config"
#          search-locations: "classpath:/config"


encrypt:
  key: "mySuperSecretKey123"

management:
  endpoints:
    web:
      exposure:
        include: "*"

  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true

  endpoint:
    health:
      probes:
        enabled: true